<%= link_to('Home', root_path)%> - <%=link_to('Tasks', tasks_path)%>

<h2>Edit Task</h2>

<%= form_for(@task) do |f| %>
  <%= render(partial: 'form', locals: {f: f}) %>
  <%= f.submit("Edit Task") %>
<% end %>

