<%= link_to('Back to Tasks', tasks_path)  %>
<h1><%= @task.name %></h1>

<h2>Description</h2>
<p><%= @task.description %></p>

<%= link_to('Edit', edit_task_path(@task)) %>
<%= link_to('Delete', task_delete_path(@task)) %>
